<html>
   <head>
      {% load static %}
      <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
   <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
   <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   <!------ Include the above in your HEAD tag ---------->
   
   <script src="https://cdn.jsdelivr.net/jquery.validation/1.15.1/jquery.validate.min.js"></script>
   <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
         <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
         <link rel="stylesheet" href='{% static "form.css"%}'>
         <style>
            .pass_show{position: relative} 
            .pass_show .ptxt { 
                position: absolute; 
                top: 50%; 
                right: 10px; 
                z-index: 1; 
                color: #f36c01; 
                margin-top: -10px; 
                cursor: pointer; 
                transition: .3s ease all; 
            } 
            .pass_show .ptxt:hover{color: #333333;} 
         </style>
   </head>
<body>
    <div class="container">
        <div class="row">
			<div class="col-md-6 mx-auto">
			<div id="first">
				<div class="myform form ">
					 <div class="logo mb-3">
                  
						 <div class="col-md-12 text-center">
                     <a href="/" style="text-align: right;"><button class="btn close"><i class="fa fa-close"></i></button></a>
							<h1>Change Password</h1>
						 </div>
					</div>
                   <form action="" method="post" name="Forgot Password">{% csrf_token %}
                    <p>Change your password in three easy steps. This will help you to secure your password!</p>
	                <ol class="list-unstyled">
	                    <li><span class="text-primary text-medium">1. </span>Enter your email address below.</li>
	                    <li><span class="text-primary text-medium">2. </span>Our system will send you a temporary link</li>
	                    <li><span class="text-primary text-medium">3. </span>Use the link to reset your password</li>
	                </ol>
                    
                        <label for="id_email">Enter your email address</label>
                        <div class="form-group"> 
                            <input class="form-control" name="email" type="email" id="id_email" required="">
                            <small class="form-text text-muted text-center">Enter the email address you used during the registration on ...........................com. Then we'll email a link to this address.</small>
                         </div>
                         <div  >
                            <button class="btn btn-success" name="Send email" type="submit">Get New Password</button> 
	                        <button class="btn btn-danger" type="submit"><a href="/login" style="color: white;">Back to Login</a></button> 
                        </div> 
                        
                    </form>
                 
				</div>
			</div>
         </div>
			  
		</div>
      </div>   
      
      
     
</body>
</html>